$myColors: (
  'golden': #d0a933,
  'lightGolden': #fceb72,
  'lime': #14ff00,
  'darkGreen': rgb(45, 126, 38),
  'searchBarColor': #e0e0e0,
);
$myMargins: (
  6: 80px,
  7: 120px,
  8: 250px,
);
body {
  min-height: 100%;
  header {
    position: fixed;
    z-index: 3;
  }
  main {
    min-height: 90vh;
  }
}
.semiTransparent {
  background-color: rgba(0, 0, 0, 0.8);
}
.insideBorders {
  border-top: solid white 1px;
}
@font-face {
  font-family: 'Bemirs';
  src: url(/fonts/BemirsDemoVersionRegular-L360Z.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  src: url(/fonts/Poppins-Italic.ttf) format('truetype');
}
#bidHouseLogo {
  max-height: 100px;
}
.hamburger-menu {
  display: none !important;
}
h1,
h2,
h3,
h4 {
  font-family: 'Bemirs';
}
p,
a,
input,
option,
select,
button,
label {
  font-family: 'Poppins' !important;
}
input {
  max-width: 200px;
}
.auctionCard {
  width: 220px !important;
  height: 430px !important;
  img {
    height: 200px;
  }
  &:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 1);
  }
}
.ctaCustomHeight {
  height: 44px;
  width: 140px;
}
.customSpacingRules {
  max-width: fit-content !important;
}
.nav-link:hover,
.nav-link:active {
  background-color: white;
  border-radius: 15%;
  color: black !important;
  transition: 0.7s ease-in-out 0.5s;
}
#logOutHeader {
  cursor: pointer;
}
button,
.customBtn {
  width: 140px !important;
}
.footer-item:hover,
.footer-item:active {
  color: #7e95fc !important;
}
.unClickAble {
  pointer-events: none;
}
.arrow {
  background-color: rgba($color: #000000, $alpha: 0.2);
  height: fit-content;
}
.cta:hover,
cta:active,
.submit:hover,
.submit:active,
.logOutBtn:hover,
.logOutBtn:active,
.changeAvatarBtn:hover,
.changeAvatarBtn:active,
.formBtn:hover,
.formBtn:active,
.avatarBtn:hover,
.avatarBtn:active {
  color: white !important;
  background-color: black !important;
  border: white solid 2px;
}
.listingCta:hover,
.listingCta:active {
  color: black !important;
  background-color: white !important;
  border: black solid 2px;
}
.addedImage:hover,
.addedImage:active {
  color: #ff0000 !important;
  cursor: pointer;
}
.labelDanger,
.labelDangerWhite {
  max-width: 220px;
  background-color: rgba(51, 51, 51, $alpha: 0.4);
  border-radius: 10%;
  padding: 5px;
  margin: 10px;
}
.labelDangerWhite {
  background-color: rgba($color: #949494, $alpha: 0.2);
  border: red solid 1px;
}
.apiError,
.apiSuccess {
  max-width: fit-content;
  margin: 0 auto;
  background-color: rgb(175, 65, 83);
  border: rgb(255, 89, 117) 2px solid;
  padding: 15px;
  font-weight: bold;
}
.apiSuccess {
  background-color: rgba(140, 233, 154, $alpha: 0.4);
  border-color: green;
}
.fa-magnifying-glass {
  border: 2px solid;
  border-color: blck;
  border-left: none;
  max-height: 30px;
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.customButton,
.addImageCon {
  max-width: 200px !important;
}
.loader {
  width: 120px !important;
  border: 5px solid;
  border-color: black transparent black transparent;
  height: 120px !important;
  border-radius: 100%;
  animation: spinning 1s ease-in-out infinite;
}
.loaderHistory {
  border-color: white transparent white transparent !important;
}
/*landing page*/
.img-gavel {
  min-width: 10px; //without this, the width of the image is set to zero due to p-0
  max-width: 360px !important;
}
.fa-arrow-right:hover,
.fa-arrow-left:hover,
.fa-arrow-right:active,
.fa-arrow-left:active {
  color: white;
  background-color: rgba($color: #000000, $alpha: 0.4);
}
.discover-section {
  max-width: 720px;
  border: 2px solid black;
}
/*auction page*/
#search {
  border: 2px solid;
  border-color: black;
  border-right: none;
}
/*login/signup page*/
.secureImg {
  border-color: black;
  border: 2px solid;
}
/*Profile page*/
.listingForm {
  max-width: 420px;
  input,
  textarea {
    border-width: 1px;
  }
}
.bidImg {
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;
}
.changeAvatarBtnCon,
.profileImg {
  min-width: 170px !important;
  max-width: 250px;
  img {
    max-height: 250px;
    width: 100%;
  }
  button {
    border: white;
  }
}
/*specific page*/
.specificP {
  overflow-wrap: break-word;
}
#specificCon {
  max-width: 950px;
}
.soldByCon {
  max-width: fit-content !important;
  img {
    max-width: 100px !important;
  }
}
.divEndAndBids {
  max-width: 350px !important;
}

@media only screen and (min-width: 769px) {
  #bidHouseLogo {
    max-height: 100px;
    min-width: 160px;
  }
  .loginForm {
    border-radius: 0 0.375rem 0.375rem 0;
  }
  .loginForm,
  .secureImg {
    max-width: 540px !important;
  }
  /*specific page*/
  #firstImg {
    width: 400px !important;
    height: 250px !important;
  }
  /*profile page*/
  .bidHistoryCon,
  .profileSection {
    max-width: 800px !important ;
  }
  .customWidthBid {
    min-width: 550px;
  }
  .imgSpecific {
    min-width: 400px !important;
  }
}
@media only screen and (max-width: 767px) {
  #hiddenMenu {
    background-color: white;
  }
  .loginForm {
    border-radius: 0.375rem;
  }
  .loginBtnForm {
    border-radius: 0.375rem 0 0 0;
  }
  /*profile page*/
  .customWidthBid {
    max-width: 80vw;
  }
}
@media only screen and (max-width: 330px) {
  .recently-container,
  .endingSoon-container {
    max-width: 70%;
    :first-child {
      max-width: 100%;
    }
  }
}
@media only screen and (min-width: 300px) {
  /*specific page*/
  #firstImg {
    width: 280px;
    height: 190px;
  }
  .imgSpecific {
    max-width: 280px !important;
  }
}
@import '../node_modules/bootstrap/scss/_functions';
@import '../node_modules/bootstrap/scss/_variables';
$theme-colors: map-merge($theme-colors, $myColors);
$spacers: map-merge($spacers, $myMargins);
@import '../node_modules/bootstrap/scss/bootstrap.scss';
